.App {
  background-color: hsl(240, 78%, 98%);
  height: 100%;
  text-align: center;
}

.bg-icon {
  position: absolute;
  z-index: 0;
}

.bg-top {
  right: 0;
  top: 0;
}

.bg-bottom {
  bottom: 0;
  left: 0;
}

h1, h2, h3, h4, h5 {
  color: hsl(233, 13%, 49%);
  font-weight: 700;
}


.content {
  padding: 24px;
  text-align: center;
}
